* {
    box-sizing: border-box;
}

h2 {
  margin: 0px;
}

.mat-icon {
  cursor: pointer;
}

#map { 
    width: 100%;
    border-radius: 10px;
    z-index: 1;
   }

.main {
  // background: rgb(2,0,36);
  // background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(70, 9, 121) 35%, rgb(147, 0, 255) 100%);
  min-height: 100vh;
  padding: 1.5rem;
  font-family: 'Asap', sans-serif;
}

.marker-container {
  display: flex;
  align-items: center;
  padding: 1rem;

  .marker {
    transform: scale(1.2);
    width: fit-content;
    color: #fcd34d;
    cursor: move;
    position: relative;
  }
}
.info-button {
  display: inline-block;
  color: #fcd34d !important;
  border: solid 1px #fcd34d;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  background: transparent;
  background-color: transparent;
  transition: all .35s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: all .35s;
    z-index: -1;
    background-color: darken(#fcd34d, 15%);
    border-radius: 10px;
  }
  &:hover {
    color: #fff !important;
    border: none;
    &:before {
      width: 100%;
    }
  }
}

@keyframes info-button-animation {
  from {
    max-width: 0%;
  } 

  to {
    max-width: 100%;
  }
}

.results{
    border-radius: 10px;
    background: whitesmoke;
    color: black;
    padding: 10px;
    position: absolute;
    top: 5.1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    right: 33px;
    width: 33%;

    div {
      border-bottom: #007194 1px solid;

      p{
        margin: 0%;
        padding: 10px;
      }

      &:hover{
        background-color: rgba(222, 221, 221, 0.869);
        transform: scale(1.03);
        cursor: pointer;
        border-bottom: 1px solid #fcd34d;
      }
    }
}

.leaflet-bar {
  display: none !important;
}

.geosearch.leaflet-bar.leaflet-control.leaflet-control-geosearch.leaflet-geosearch-button {
  display: none;
}

:host ::ng-deep { 
  .mat-mdc-text-field-wrapper.mdc-text-field {
    font-family: 'Asap', sans-serif;
    background: whitesmoke;
    border-radius: 2rem;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-focused{
    border:none;
  }

  .marker-form-field .mat-mdc-form-field-infix{ 
    min-height: 25px;
    padding: 6px 0px !important;
    letter-spacing: normal;
  }

}

.markers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: #211d74;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;

  p {
    margin: 0%;
  }
}

.day-container {
    max-height: 40rem;
    overflow: auto;
    cursor: pointer;

    .active {
      border: 1px solid #4038d8;
      border-radius: 10px;
    }

    .cdk-drop-list:hover:not(.active) {
      border: 1px solid #4038d8;
      border-radius: 10px;
    }
}

.h-80 {
    height: 86vh;
    margin-top: 1.5rem;
}

@media only screen and (max-width:600px) {
  .h-80 {
    height: 68vh;
  } 

  .results{
    top: 10rem;
    width: 88%;
    right: unset; 
  }
}

:host ::ng-deep {
  .mat-mdc-slide-toggle .mdc-form-field {
    color: white !important;  
    font-family: 'Asap', sans-serif;
    font-size: 1.2rem !important;
  }

  .mdc-label {
    font-size: 1rem !important;
  }
}


#drag-container {
  position: absolute;
  z-index: 10;
  margin-bottom: 10px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  background-color: #4038d878;
  left: 10px;

  &:hover {
    background-color: #4038d8;
  }
}

