
<main class="grid grid-rows-5 grid-cols-7 grid-flow-col gap-3 gap-x-8 main bg-white-100 dark:bg-slate-900 dark:text-white">
  <div class="row-span-5 col-span-2 flex-col flex " style="background: #16213b;
  border-radius: 10px;
  padding: 20px;">

    <div class="flex justify-start items-center gap-1">
      <button mat-icon-button class="info-button">
        <mat-icon>help_outline</mat-icon>
        How it works
      </button>
    </div>   

    <div class="flex justify-between items-center gap-8 mt-10">
      <span class="flex-col">
        <h2>Days</h2>
        <small>Order items by day</small>
      </span>
      <span class="marker-container">
        <mat-icon matTooltip="Add new Day" (click)="addDay()">library_add</mat-icon>
      </span>
    </div>

      <div cdkDropListGroup class="day-container">
        <div class="flex justify-start items-center gap-8 mt-3" *ngFor="let day of days; let dayIndex = index" 
          cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="day.markers"
          [id]="dayIndex.toString()">
          <span class="flex-col w-full justify-start items-center p-2.5"  [ngClass]="{'active': activeDay === dayIndex}">
            <div class="flex justify-between items-center" (click)="setActiveDay(dayIndex)">
              <h2>{{day.name}}</h2>
              <button mat-icon-button (click)="removeDay(dayIndex)">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
            <div class="flex justify-start markers" *ngFor="let marker of day.markers; let markIndex = index" cdkDrag>
              <p>{{marker.label}}</p>
              <button mat-icon-button (click)="removeMarker(marker.markerObject, dayIndex, markIndex)">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
            </div>
          </span>
        </div>
      </div>
    

    <div class="flex justify-center items-center gap-5" style="margin-top: auto;">
      <button mat-icon-button class="info-button">
        <mat-icon>cloud_download</mat-icon>
        Share Trip
      </button>
      <button mat-raised-button type="button" class="info-button" (click)="file.click();">
        <mat-icon>cloud_upload</mat-icon>
        Upload Trip
      </button>
      <input type="file" style="display:none" accept=".json" #file (change)="readFile($event)">
    </div>   

  </div>
  <div class="row-span-6 col-span-5">
    <div class="flex text-white justify-between">
      <p style="align-self: end;
      font-size: 1.5rem;margin:0px">{{locationLabel}}</p>
      
      <mat-form-field class="w-6/12">
        <input type="text" matInput class="text-white" placeholder="Search Map" [(ngModel)]="searchText" (keyup)="searchMap($event)">
      </mat-form-field>
      <div class="results" *ngIf="searchResults?.results?.length">
        <div *ngFor="let result of searchResults?.results">
          <p (click)="selectSearch(result.label)">{{result.label}}</p>
        </div>
      </div>
    </div>
    <div class="flex text-white justify-end items-center">
      <span cdkDropList class="marker-container">
        <mat-icon matTooltip="Set a Marker" class="marker" (cdkDragEnded)="dragEnd($event)" cdkDropListSortingDisabled cdkDrag cdkDragHandle >add_location</mat-icon>
      </span>
      <div id="map" class="dark:text-black h-80"></div>
    </div>
  </div>
</main>

