<main class="grid grid-rows-5 grid-cols-1 md:grid-cols-7 gap-3 gap-x-8 main bg-white-100 dark:bg-slate-900 dark:text-white">
  <div class="row-span-6 col-span-1 md:col-span-2 md:order-1 order-2 flex-col flex " style="background: #16213b;
  border-radius: 10px;
  padding: 20px;">

    <div class="flex justify-between items-center gap-1" style="border: 1px solid #4038d8;
    border-radius: 10px;">
      <span class="marker-container">
        <mat-icon matTooltip="Upload Trip"  class="marker" (click)="file.click();">cloud_upload</mat-icon>
        <input type="file" style="display:none" accept=".json" #file (change)="readFile($event)">
      </span>
      <span class="marker-container">
        <mat-icon matTooltip="Share Trip" class="marker" (click)="shareTrip()">cloud_download</mat-icon>
      </span>
      <span class="marker-container">
        <mat-icon matTooltip="How it works" class="marker" >help</mat-icon>
      </span>
    </div>   

    <div class="flex justify-between items-center gap-8 mt-2">
      <span class="flex-col">
        <h2>Days</h2>
      </span>
      <span class="marker-container">
        <mat-icon matTooltip="Add new Day" (click)="trip.addDay()">library_add</mat-icon>
      </span>
    </div>

      <div cdkDropListGroup class="day-container">
        <div class="flex justify-start items-center gap-8 mt-3" *ngFor="let day of trip.days; let dayIndex = index" 
          cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="day.markers">
          <span class="flex-col w-full justify-start items-center p-2.5"  [ngClass]="{'active': trip.activeDay === dayIndex}">
            <div class="flex justify-between items-center" (click)="trip.setActiveDay(dayIndex)">
              <h2>{{day.label}}</h2>
              <button mat-icon-button (click)="removeDay(dayIndex)">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
            <div class="flex justify-start markers" *ngFor="let marker of day.markers; let markIndex = index" cdkDrag>
              <p *ngIf="markerInEdit !== markIndex;else edit">{{marker.label}}</p>
              <ng-template #edit>
                <mat-form-field *ngIf="markerInEdit === markIndex" class="marker-form-field">
                  <input [(ngModel)]="marker.label" matInput (change)="resetEdit()">
                </mat-form-field>
              </ng-template>
              <button mat-icon-button [matMenuTriggerFor]="menu" class="flex items-center">
                <mat-icon>more_horizontal</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editMarker(markIndex)">
                  <mat-icon>edit</mat-icon>
                  Edit
                </button>
                <button mat-menu-item class="flex items-center" (click)="removeMarker(marker.markerObject, dayIndex, markIndex)">
                  <mat-icon>remove_circle_outline</mat-icon>
                  Remove
                </button>
              </mat-menu>
            </div>
          </span>
        </div>
      </div>
    

    <!-- <div class="flex justify-center items-center gap-5 mt-5" style="margin-top: auto;">
      <button mat-icon-button class="info-button">
        <mat-icon>cloud_download</mat-icon>
        Share Trip
      </button>
      <button mat-raised-button type="button" class="info-button" (click)="file.click();">
        <mat-icon>cloud_upload</mat-icon>
        Upload Trip
      </button>
      <input type="file" style="display:none" accept=".json" #file (change)="readFile($event)">
    </div>    -->

  </div>
  <div class="row-span-6 col-span-1 md:col-span-5 md:order-2 order-1">
    <div class="md:flex md:flex-row flex-col text-white justify-between sm:gap-8 items-center">
      <p style="margin-top: 12px;" class="md:m-0	m-2.5 text-2xl">{{trip.locationLabel}}</p>
      
      <mat-form-field class="md:w-6/12 w-full search">
        <input type="text" matInput class="text-white" placeholder="Search Map" [(ngModel)]="searchText" (keyup)="searchMap($event)">
      </mat-form-field>
      <div class="results" *ngIf="searchResults?.results?.length">
        <div *ngFor="let result of searchResults?.results">
          <p (click)="selectSearch(result.label)">{{result.label}}</p>
        </div>
      </div>
    </div>
    <div class="flex text-white justify-end items-center">
      <div id="map" class="dark:text-black h-80"></div>
    </div>
  </div>
</main>

