* {
    box-sizing: border-box;
}

h2 {
  margin: 0px;
}

#map { 
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
   }

.main {
  // background: rgb(2,0,36);
  // background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(70, 9, 121) 35%, rgb(147, 0, 255) 100%);
  min-height: 100vh;
  padding: 1.5rem;
  font-family: 'Asap', sans-serif;
}

.marker-container {
  border: 1px solid #4038d8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 1rem;

  .marker {
    transform: scale(2);
    width: fit-content;
    color: #007194;
    cursor: move;
    position: relative;
  }
}

.info-button {
    color: #fcd34d !important;
    border: solid 1px #fcd34d;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    background: transparent;
    background-color: transparent;
    transition: all .35s;
}

.info-button:after {
  color: #fff !important;
  content: "";
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fcd34d;
  transition: all .35s;
}

.info-button:hover {
  color: #fff !important;
}

.info-button:hover:after {
  width: 100%;
}

@keyframes info-button-animation {
  from {
    max-width: 0%;
  } 

  to {
    max-width: 100%;
  }
}

.results{
    border-radius: 10px;
    background: whitesmoke;
    color: black;
    padding: 10px;
    position: absolute;
    top: 4rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    right: 20px;
    width: 33%;

    div {
      border-bottom: #007194 1px solid;

      p{
        margin: 0%;
        padding: 5px;
      }

      &:hover{
        background-color: rgba(222, 221, 221, 0.869);
        transform: scale(1.05);
        cursor: pointer;
      }
    }
}

.leaflet-bar {
  display: none !important;
}

.geosearch.leaflet-bar.leaflet-control.leaflet-control-geosearch.leaflet-geosearch-button {
  display: none;
}

:host ::ng-deep { 
  .mat-mdc-text-field-wrapper.mdc-text-field {
    font-family: 'Asap', sans-serif;
    background: whitesmoke;
    border-radius: 2rem;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-focused{
    border:none;
  }
}

.markers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #816400;
  background: whitesmoke;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;

  p {
    margin: 0%;
  }
}

.day-container {
  max-height: 300px;
    overflow: auto;
}